@import "@resources";

.wrapper {
  text-align: center;
  margin-top: 150px;
}

.title {
  @include font-size(160px);

  @include mq($phone) {
    @include font-size(120px);
  }
}

.description {
  @include font-size(40px);

  @include mq($phone) {
    @include font-size(16px);
  }
}

.button {
  width: 500px;
  margin: 25px auto 0;

  @include mq($phablet) {
    width: 100%;
  }

  @include mq($phone) {
    @include font-size(16px);
  }
}
