/* ---- Offer ---- */
@import "@resources";

.offer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq($tablet-large) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
