/* ---- Order ---- */
@import "@resources";

.wrapper {
  position: relative;
  padding-top: 60px;

  @include mq($tablet-large) {
    padding-top: 0;
    margin: 50px 0;
    width: 100%;
  }

  @include mq($phone) {
    padding: 0;
  }
}

.viewWrapper {
  @include mq($tablet-large) {
    width: 100%;
  }
}

.title {
  @include font-size(26px);
  font-weight: 700;
  margin-bottom: 30px;
}

.fieldWrapper {
  margin-bottom: 15px;
}

.fullField {
  display: flex;
  align-items: center;
}

.field {
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  background: $gray-1;
  border: 2px solid $gray-1;
  border-radius: 15px 15px 0 0;
  width: 100%;
  border-radius: 15px;
  &:hover {
    transition: border 0.3s ease;
    border: 2px solid $theme-color;
  }
}

.fieldActive {
  border: 2px solid $theme-color;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}

.routeInput {
  padding-left: 13px;
  width: 68%;
  @include font-size(18px);
  font-weight: 600;
  height: 24px;
  overflow-y: hidden;
  &::placeholder {
    @include font-size(18px);
    font-weight: 400;
  }
}

.entranceInput {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  @include font-size(13px);
  font-weight: 800;
  padding: 4px;
  border: 1px solid $gray-3;

  &::placeholder {
    color: #999;
    @include font-size(11px);
    font-weight: 400;
  }
  &::-webkit-input-placeholder {
    /* Chrome, Safari, Opera */
    color: #999;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
  }

  @include mq($phone) {
    margin-right: 5px;
  }
}

.dragButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -30px;
  width: 30px;
  height: 54px;
  cursor: grab;

  & svg {
    & path {
      transition: fill 0.2s ease !important;
      fill: $gray-4;
    }
  }

  &:hover {
    & svg {
      & path {
        transition: fill 0.2s ease !important;
        fill: $theme-color;
      }
    }
  }
}

.dragActive {
  & svg {
    & path {
      transition: fill 0.2s ease !important;
      fill: $theme-color;
    }
  }
}

.createButton {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  left: 2px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 14.5px;
  padding: 10px;
  background: $theme-color;
  transition: opacity 0.2s ease !important;

  & svg {
    @include center-element();
    position: absolute;
    width: 30px;
    height: 30px;

    & path {
      fill: $white-1;
    }

    @include mq($phone) {
      width: 30px;
      height: 30px;
    }
  }

  @include mq($phone) {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.removeButton {
  position: relative;
  width: 52px;
  height: 50px;
  left: 2px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 14.5px;
  padding: 10px;
  background: $theme-color;
  transition: opacity 0.2s ease !important;

  & svg {
    @include center-element();
    position: absolute;
    width: 25px;
    height: 25px;

    & path {
      transition: fill 0.2s ease !important;
      fill: $white-1;
    }
  }
}

.placeButton {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 15px;
  transition: opacity 0.2s ease !important;

  & svg {
    @include center-element();
    position: absolute;
    width: 40px;
    height: 35px;

    & path {
      transition: fill 0.2s ease !important;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.viewWrapper {
  display: inline-block;
}

.submitButton {
  @include flexible();
  justify-content: space-between;
  padding-right: 18px;
  padding-left: 18px;
}

.submitButton span {
  color: #ffd613;
  margin-left: 20px;
}
