/* ---- Header ---- */
@import "@resources";

.wrapper {
  @include transition();
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  padding: $header-padding-desktop-gutter 0;
  background: $white-1;

  @include mq($tablet) {
    padding: $header-padding-tablet-gutter 0;
  }

  @include mq($tablet-large) {
    padding: $header-padding-tablet-large-gutter 0;
  }

  @include mq($phablet) {
    padding: $header-padding-phablet-gutter 0;
  }
}

.sticky {
  @include transition();
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.navigation {
  @include flexible();
  justify-content: space-between;
}
