/* ---- Tariff ---- */
@import "@resources";

.hidden {
  width: 0;
  visibility: hidden;
}

.wrapper {
  margin-top: 10px;
}

.card {
  @include transition();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  border: 2px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 3;

  &:hover {
    @include transition();
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.selected {
  border-color: $theme-color;
}

.content {
  margin-top: 5px;
  @include font-size(15px);
  font-weight: 400;
}

.tariffIcon {
  display: block;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background: url("../../../../../public/img/ui/Tariff/economy.png") no-repeat
    center top / cover;
}

.label {
  @include font-size(21px);
  font-weight: bold;
  cursor: pointer;

  @include mq($phone) {
    @include font-size(16px);
  }
}
