/* ---- Tariff ---- */
@import "@resources";

.hidden {
  width: 0;
  visibility: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px 5px 20px;
  border: 2px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 3;
}

.card:hover {
  background-color: #f9f9f9;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected {
  border-color: $theme-color;
}

.content {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
}

.tariffIcon {
  display: block;
  width: 52px;
  height: 52px;
}

.label {
  font-size: 21px;
  font-weight: bold;
}
