/* ---- HeadStatus ---- */
@import "@resources";

.text {
  font-size: 26px;
  font-weight: 900;
}

.textWite {
  color: #ea8814;
}

.textSuccess {
  color: #3aa429;
}

.textCancelled {
  color: #ea1414;
}
