/* ---- Map ---- */
@import "@resources";

/* components/Maps.module.scss */
.wrapperMaps {
  width: 50%;
  height: rem(400); // Задайте высоту контейнера
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; // Пример фонового цвета
  margin-left: 70px; // Отступ слева

  @include mq($phone) {
    height: rem(200);
  }
}

.mapContainer {
  border-radius: 30px; // Закругленные углы
  overflow: hidden; // Чтобы содержимое карты не выходило за закругленные углы
}

.mapWrapper {
  width: 50%;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 20px;

  @include mq($tablet-large) {
    width: 100%;
  }
}
