/* ---- CallbackBtn ---- */
@import "@resources";

.wrapperBtn {
  position: relative;
  width: 100%;
  margin-top: 30px;
  & button {
    width: 100%;
  }
}

.callbackIcon {
  @include transition();
  position: relative;
  background-color: #ce1e1e;
  position: absolute;
  width: 46px;
  height: 46px;
  z-index: 2;
  border-radius: 15px;

  &:hover {
    @include transition();
    opacity: 0.7;
  }
  cursor: pointer;
  & svg {
    @include center-element();
    width: 25px;
    height: 25px;
    fill: #fff;
    & path {
      fill: #fff;
      width: 18px;
      height: 18px;
      transition: fill 0.2s ease !important;
      z-index: 2001;
    }
  }
}
// .callbackIcon {
//   position: absolute;
//   padding: 12px;
//   background-color: #ce1e1e;
//   border-radius: 15px;
//   width: 44.86px;
//   height: 44.86px;
//   cursor: pointer;
//   z-index: 1000;

//   & svg {
//     & path {
//       width: 18px;
//       height: 18px;
//       transition: fill 0.2s ease !important;
//       z-index: 2001;
//     }
//   }
// }
