/* ---- Additional ---- */
@import "@resources";

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;

  @include mq($phone) {
    flex-direction: column;
    row-gap: 20px;
  }
}

.additionalItem {
  @include transition();
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font-size(16px);
  font-weight: bold;
  transform: translateX(0);
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover .additionalArrow {
    @include transition();
    transform: translateX(5px);

    & svg path {
      fill: #000 !important;
    }
  }

  &:hover .additionalIcon {
    & svg {
      @include transition();
    }

    & svg path {
      @include transition();
    }

    & svg path {
      @include transition();
      fill: $theme-color;
    }
  }

  span {
    @include transition();
  }

  &:hover span {
    @include transition();
    color: $theme-color;
  }
}

.additionalIcon {
  @include transition();
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

// WindowDate and WindowOptions

.title {
  @include font-size(29px);
  font-weight: 800;
  margin-bottom: 26px;

  @include mq($phone) {
    @include font-size(18px);
    text-align: center;
  }
}

.text {
  @include font-size(16px);
  font-weight: bold;
  margin-right: 10px;

  @include mq($phone) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.date {
  @include flexible();
  align-items: center;
  margin-bottom: 21px;

  @include mq($phone) {
    flex-direction: column;
  }
}

.time {
  @include flexible();
  align-items: center;

  @include mq($phone) {
    flex-direction: column;
  }
}

// DatePicker

.wrapperPicker {
  position: relative;
  display: inline-block;
  width: 210px;
}

.inputWindow {
  padding: 12px 16px !important;
  border: 2px solid $gray-5 !important;
  background-color: $white-1;
  border-radius: 10px;
  @include font-size(16px);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.inputWindow:hover,
.inputWindow:focus {
  border-color: $theme-color !important;
}

// WindowOption

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font-size(21px);
  font-weight: 600;
  margin-bottom: 26px;
}

.label {
  @include font-size(21px);
  font-weight: 500;
  margin-right: 5px;

  @include mq($phone) {
    @include font-size(16px);
  }
}

.price {
  color: $theme-color;

  @include mq($phone) {
    @include font-size(16px);
  }
}
