/* ---- Menu ---- */
@import "@resources";

.wrapper {
  display: flex;

  @include mq($tablet-large) {
    @include fade(out);
    @include menu-top-calc();
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
}

.active {
  color: $theme-color;
  font-weight: 500;
}

.other {
  @include flexible();
}

.item {
  @include transition();

  &:not(:last-of-type) {
    margin-right: 35px;
  }

  @include mq($tablet-large) {
    @include transition();
    justify-content: space-between;
    background: #fff;
    width: 100%;
    border-top: 1px solid hex-opacity($black-1, 0.05);
    cursor: pointer;

    &:hover {
      @include transition();
      background: $theme-color;
      color: $white-1;
    }

    &:not(:last-of-type) {
      margin-right: 0;
    }
  }
}

.link {
  @include transition();
  @include font-size(24px);

  &:hover {
    @include transition();
    opacity: 0.7;
  }

  @include mq($laptop) {
    @include font-size(21px);
  }

  @include mq($tablet-large) {
    @include font-size(18px);
    @include flexible();
    @include transition();
    justify-content: space-between;
    padding: 16px percent($container-tablet-large-gutter, $tablet-large);

    &:after {
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      @include transition();
      @include background("/img/layout/header/arrow-right.svg");
    }

    &:hover {
      color: $white-1;
      opacity: 1;

      &:after {
        @include transition();
        @include background("/img/layout/header/arrow-right-white.svg");
      }
    }
  }

  @include mq($tablet) {
    padding: 16px percent($container-tablet-gutter, $tablet);
  }

  @include mq($phablet) {
    padding: 16px percent($container-phablet-gutter, $phablet);
  }
}

.show {
  @include fade(in);
}

.open_btn {
  @include transition();
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 30px;
  display: none;
  background: none;
  cursor: pointer;
  border: none;

  &:hover {
    @include link-hover();
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:before {
    @include background("/img/layout/header/open-menu.svg");
    @include fade(in);
  }

  &:after {
    @include background("/img/layout/header/close-menu.svg");
    @include fade(out);
  }

  @include mq($tablet-large) {
    display: block;
  }

  @include mq($phablet) {
    margin-left: 16px;
  }
}

.close_btn {
  @include transition();
  border: none;

  &:before {
    @include fade(out);
  }

  &:after {
    @include fade(in);
  }
}
